In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
# if response code is 403 . then use headers

headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

syntax => requests.get('url',headers=headers)

In [5]:
requests.get('https://www.ambitionbox.com/list-of-companies?page=1')

In [8]:
requests.get('https://www.ambitionbox.com/list-of-companies?page=1').text

'<HTML><HEAD>\n<TITLE>Access Denied</TITLE>\n</HEAD><BODY>\n<H1>Access Denied</H1>\n \nYou don\'t have permission to access "http&#58;&#47;&#47;www&#46;ambitionbox&#46;com&#47;list&#45;of&#45;companies&#63;" on this server.<P>\nReference&#32;&#35;18&#46;8550cd17&#46;1769781457&#46;5475aef\n<P>https&#58;&#47;&#47;errors&#46;edgesuite&#46;net&#47;18&#46;8550cd17&#46;1769781457&#46;5475aef</P>\n</BODY>\n</HTML>\n'

In [6]:
# 403 means -> sever is denied(blocking) our request.
# So, we send request like browser sends it as human not as bot. 
# so use headers

In [9]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

In [13]:
webpage = requests.get('https://www.ambitionbox.com/list-of-companies?page=1', headers = headers).text

In [30]:
# webpage  # html content

In [14]:
soup = BeautifulSoup(webpage,'lxml')

In [19]:
# print(soup.prettify())  # to view in proper html form

In [20]:
soup.find_all('h1')

[<h1 class="companyListing__collectionTopHeadingCont" data-v-507d085f=""><div class="companyListing__collectionTopHeading" data-v-507d085f="">
 					Top Companies in
 				</div> <div class="companyListing__collectionIndiaHeading" data-v-507d085f=""><img data-v-507d085f="" height="12" src="https://static.ambitionbox.com/static/loc/loc-star.png" width="12"/>
 					INDIA
 					<img data-v-507d085f="" height="12" src="https://static.ambitionbox.com/static/loc/loc-star.png" width="12"/></div></h1>]

In [21]:
len(soup.find_all('h1'))

1

In [44]:
soup.find_all('h1')[0].text.strip()

'Top Companies in\n\t\t\t\t \n\t\t\t\t\tINDIA'

In [36]:
# Find the Name of the Company

In [31]:
soup.find_all('h2')

[<h2 class="companyListing__title">
 								Companies in India
 							</h2>,
 <h2 class="companyCardWrapper__companyName" title="TCS">
 										TCS
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Accenture">
 										Accenture
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Wipro">
 										Wipro
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Cognizant">
 										Cognizant
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Capgemini">
 										Capgemini
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="HDFC Bank">
 										HDFC Bank
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Infosys">
 										Infosys
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="ICICI Bank">
 										ICICI Bank
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="HCLTech">
 										HCLTech
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Tech Mahindra">
 										Tech Mahindra
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Genpact">
 										Genpact
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Teleperformance">
 										Teleperformance
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Jio">
 										Jio
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Axis Bank">
 										Axis Bank
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Concentrix Corporation">
 										Concentrix Corporation
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Amazon">
 										Amazon
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="iEnergizer">
 										iEnergizer
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Reliance Retail">
 										Reliance Retail
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="LTIMindtree">
 										LTIMindtree
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="IBM">
 										IBM
 									</h2>,
 <h2 class="main-title body-medium">
 				Popular Collections by Industries
 			</h2>,
 <h2 class="main-title body-medium">
 				Popular Collections by Cities
 			</h2>,
 <h2 class="main-title body-medium">
 				Popular Collections by Roles
 			</h2>]

In [34]:
for i in soup.find_all('h2'):
    print(i.text.strip())

Companies in India
TCS
Accenture
Wipro
Cognizant
Capgemini
HDFC Bank
Infosys
ICICI Bank
HCLTech
Tech Mahindra
Genpact
Teleperformance
Jio
Axis Bank
Concentrix Corporation
Amazon
iEnergizer
Reliance Retail
LTIMindtree
IBM
Popular Collections by Industries
Popular Collections by Cities
Popular Collections by Roles

In [40]:
# Getting the Rating

In [54]:
for i in soup.find_all('div', class_ ='rating_text'):
    print(i.text.strip())

print('\n',len(soup.find_all('div', class_ ='rating_text')))

3.3
3.7
3.6
3.6
3.7
3.8
3.5
4.0
3.4
3.4
3.6
3.8
4.4
3.6
3.6
3.9
4.6
3.9
3.6
3.9

 20

In [45]:
# to get the reviews

In [48]:
for i in soup.find_all('span', class_ = 'companyCardWrapper__ActionCount'):
    print(i.text)

1.1L
9.8L
11.8k
2.4k
10.6k
93
71.4k
6.5L
9.2k
45.3k
6.7k
49
63.5k
4.8L
6.7k
5.9k
4.6k
107
59.8k
6L
6.3k
774
5.5k
86
51.4k
4.8L
5.4k
2.1k
3.7k
42
50.7k
1.5L
2.9k
270
3.2k
86
47.3k
5.2L
8.3k
2.6k
4.8k
118
45k
1.5L
2.9k
22
3.7k
73
44.4k
3.8L
4.5k
257
3.8k
64
42.4k
2.8L
4.5k
533
3.4k
79
40.9k
2.3L
3.8k
1.6k
3.5k
66
36.6k
96.2k
2.2k
1.4k
1.8k
38
32.5k
62.3k
4k
3
2.5k
87
32.4k
1L
1.9k
190
2.1k
120
31.5k
1.3L
1.9k
81
3.1k
66
30.7k
1.5L
5.8k
1.8k
4.1k
90
27.1k
24.1k
1.1k
57
430
29
27k
76.1k
1.9k
163
1.8k
135
25.8k
1.9L
3.4k
556
777
34
25.3k
2.1L
2.6k
1.1k
2.6k
23

In [49]:
# Extract the whole div container

In [121]:
company = soup.find_all('div', class_ = 'companyCardWrapper')
# company  # each company detail of the page

In [51]:
len(soup.find_all('div', class_ = 'companyCardWrapper'))

20

In [82]:
name = []
rating = []

for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('div', class_ ='rating_text').text.strip())

    # print(i.find_all('div', class_ ='rating_text')[0].text.strip())

# if it is a single value then use , find() -> {prefer this}
# or , find_all()[0] 
# or multiple things then use find_all

In [83]:
print(name)

['TCS', 'Accenture', 'Wipro', 'Cognizant', 'Capgemini', 'HDFC Bank', 'Infosys', 'ICICI Bank', 'HCLTech', 'Tech Mahindra', 'Genpact', 'Teleperformance', 'Jio', 'Axis Bank', 'Concentrix Corporation', 'Amazon', 'iEnergizer', 'Reliance Retail', 'LTIMindtree', 'IBM']

In [84]:
rating

['3.3',
 '3.7',
 '3.6',
 '3.6',
 '3.7',
 '3.8',
 '3.5',
 '4.0',
 '3.4',
 '3.4',
 '3.6',
 '3.8',
 '4.4',
 '3.6',
 '3.6',
 '3.9',
 '4.6',
 '3.9',
 '3.6',
 '3.9']

In [106]:
reviews = []
salary = []
interviews = []
jobs = []
benifits = []
photos = []

for i in company:
    reviews.append(i.find_all('span', class_ = 'companyCardWrapper__ActionCount')[0].text)
    salary.append(i.find_all('span', class_ = 'companyCardWrapper__ActionCount')[1].text)
    interviews.append(i.find_all('span', class_ = 'companyCardWrapper__ActionCount')[2].text)
    jobs.append(i.find_all('span', class_ = 'companyCardWrapper__ActionCount')[3].text)
    benifits.append(i.find_all('span', class_ = 'companyCardWrapper__ActionCount')[4].text)
    photos.append(i.find_all('span', class_ = 'companyCardWrapper__ActionCount')[5].text)

In [98]:
reviews

['1.1L',
 '71.4k',
 '63.5k',
 '59.8k',
 '51.4k',
 '50.7k',
 '47.3k',
 '45k',
 '44.4k',
 '42.4k',
 '40.9k',
 '36.6k',
 '32.5k',
 '32.4k',
 '31.5k',
 '30.7k',
 '27.1k',
 '27k',
 '25.8k',
 '25.3k']

In [104]:
# company[0].find_all('span', class_ = 'companyCardWrapper__ActionCount')[2]

In [107]:
salary

['9.8L',
 '6.5L',
 '4.8L',
 '6L',
 '4.8L',
 '1.5L',
 '5.2L',
 '1.5L',
 '3.8L',
 '2.8L',
 '2.3L',
 '96.2k',
 '62.3k',
 '1L',
 '1.3L',
 '1.5L',
 '24.1k',
 '76.1k',
 '1.9L',
 '2.1L']

In [108]:
interviews

['11.8k',
 '9.2k',
 '6.7k',
 '6.3k',
 '5.4k',
 '2.9k',
 '8.3k',
 '2.9k',
 '4.5k',
 '4.5k',
 '3.8k',
 '2.2k',
 '4k',
 '1.9k',
 '1.9k',
 '5.8k',
 '1.1k',
 '1.9k',
 '3.4k',
 '2.6k']

In [109]:
jobs

['2.4k',
 '45.3k',
 '5.9k',
 '774',
 '2.1k',
 '270',
 '2.6k',
 '22',
 '257',
 '533',
 '1.6k',
 '1.4k',
 '3',
 '190',
 '81',
 '1.8k',
 '57',
 '163',
 '556',
 '1.1k']

In [110]:
benifits

['10.6k',
 '6.7k',
 '4.6k',
 '5.5k',
 '3.7k',
 '3.2k',
 '4.8k',
 '3.7k',
 '3.8k',
 '3.4k',
 '3.5k',
 '1.8k',
 '2.5k',
 '2.1k',
 '3.1k',
 '4.1k',
 '430',
 '1.8k',
 '777',
 '2.6k']

In [111]:
photos

['93',
 '49',
 '107',
 '86',
 '42',
 '86',
 '118',
 '73',
 '64',
 '79',
 '66',
 '38',
 '87',
 '120',
 '66',
 '90',
 '29',
 '135',
 '34',
 '23']

In [114]:
about = []

for i in company:
    about.append(i.find('span', class_ ="companyCardWrapper__interLinking").text.strip())

In [115]:
about

['IT Services & Consulting | Bangalore / Bengaluru +438 other locations',
 'IT Services & Consulting | Bangalore / Bengaluru +255 other locations',
 'IT Services & Consulting | Hyderabad / Secunderabad +370 other locations',
 'IT Services & Consulting | Hyderabad / Secunderabad +230 other locations',
 'IT Services & Consulting | Bangalore / Bengaluru +183 other locations',
 'Banking | Mumbai +1825 other locations',
 'IT Services & Consulting | Bangalore / Bengaluru +247 other locations',
 'Banking | Mumbai +1437 other locations',
 'IT Services & Consulting | Chennai +228 other locations',
 'IT Services & Consulting | Hyderabad / Secunderabad +332 other locations',
 'IT Services & Consulting | Hyderabad / Secunderabad +181 other locations',
 'BPO | Mumbai +255 other locations',
 'Telecom | Mumbai +1913 other locations',
 'Banking | Mumbai +1505 other locations',
 'BPO | Bangalore / Bengaluru +176 other locations',
 'Internet | Bangalore / Bengaluru +519 other locations',
 'BPO | Noida +51 other locations',
 'Retail | Mumbai +1156 other locations',
 'IT Services & Consulting | Bangalore / Bengaluru +145 other locations',
 'IT Services & Consulting | Bangalore / Bengaluru +160 other locations']

In [116]:
# now create df

In [118]:
d = {'name':name ,'rating':rating, 'reviews':reviews, 'salary':salary,'interviews':interviews,'jobs':jobs,"benifits":benifits,"photos":photos,'about':about}

df = pd.DataFrame(d)

In [119]:
df

,name,rating,reviews,salary,interviews,jobs,benifits,photos,about
0,TCS,3.3,1.1L,9.8L,11.8k,2.4k,10.6k,93,IT Services & Consulting | Bangalore / Bengalu...
1,Accenture,3.7,71.4k,6.5L,9.2k,45.3k,6.7k,49,IT Services & Consulting | Bangalore / Bengalu...
2,Wipro,3.6,63.5k,4.8L,6.7k,5.9k,4.6k,107,IT Services & Consulting | Hyderabad / Secunde...
3,Cognizant,3.6,59.8k,6L,6.3k,774,5.5k,86,IT Services & Consulting | Hyderabad / Secunde...
4,Capgemini,3.7,51.4k,4.8L,5.4k,2.1k,3.7k,42,IT Services & Consulting | Bangalore / Bengalu...
5,HDFC Bank,3.8,50.7k,1.5L,2.9k,270,3.2k,86,Banking | Mumbai +1825 other locations
6,Infosys,3.5,47.3k,5.2L,8.3k,2.6k,4.8k,118,IT Services & Consulting | Bangalore / Bengalu...
7,ICICI Bank,4.0,45k,1.5L,2.9k,22,3.7k,73,Banking | Mumbai +1437 other locations
8,HCLTech,3.4,44.4k,3.8L,4.5k,257,3.8k,64,IT Services & Consulting | Chennai +228 other ...
9,Tech Mahindra,3.4,42.4k,2.8L,4.5k,533,3.4k,79,IT Services & Consulting | Hyderabad / Secunde...
10,Genpact,3.6,40.9k,2.3L,3.8k,1.6k,3.5k,66,IT Services & Consulting | Hyderabad / Secunde...
11,Teleperformance,3.8,36.6k,96.2k,2.2k,1.4k,1.8k,38,BPO | Mumbai +255 other locations
12,Jio,4.4,32.5k,62.3k,4k,3,2.5k,87,Telecom | Mumbai +1913 other locations
13,Axis Bank,3.6,32.4k,1L,1.9k,190,2.1k,120,Banking | Mumbai +1505 other locations
14,Concentrix Corporation,3.6,31.5k,1.3L,1.9k,81,3.1k,66,BPO | Bangalore / Bengaluru +176 other locations
15,Amazon,3.9,30.7k,1.5L,5.8k,1.8k,4.1k,90,Internet | Bangalore / Bengaluru +519 other lo...
16,iEnergizer,4.6,27.1k,24.1k,1.1k,57,430,29,BPO | Noida +51 other locations
17,Reliance Retail,3.9,27k,76.1k,1.9k,163,1.8k,135,Retail | Mumbai +1156 other locations
18,LTIMindtree,3.6,25.8k,1.9L,3.4k,556,777,34,IT Services & Consulting | Bangalore / Bengalu...
19,IBM,3.9,25.3k,2.1L,2.6k,1.1k,2.6k,23,IT Services & Consulting | Bangalore / Bengalu...

In [120]:
# for 10 pages

In [18]:
final = pd.DataFrame()

for j in range(1,6):

    url = 'https://www.ambitionbox.com/list-of-companies?page={}'.format(j)
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    
    webpage = requests.get(url,headers = headers).text

    soup=BeautifulSoup(webpage,'lxml')

    company = soup.find_all('div', class_ = 'companyCardWrapper')
    
    name = []
    rating = []        
    reviews = []
    salary = []
    interviews = []
    jobs = []
    benifits = []
    photos = []
    about = []
    
    for i in company:
        try:
            name.append(i.find('h2').text.strip())
        except:
            name.append(np.nan)
            
        try:
            rating.append(i.find('div', class_ ='rating_text').text.strip())
        except:
            rating.append(np.nan)

        try:
            reviews.append(i.find_all('span', class_ = 'companyCardWrapper__ActionCount')[0].text)
        except:
            reviews.append(np.nan)
        
        try:   
            salary.append(i.find_all('span', class_ = 'companyCardWrapper__ActionCount')[1].text)
        except:
            salary.append(np.nan)

        try:
            interviews.append(i.find_all('span', class_ = 'companyCardWrapper__ActionCount')[2].text)
        except:
            interviews.append(np.nan)
            
        try:
            jobs.append(i.find_all('span', class_ = 'companyCardWrapper__ActionCount')[3].text)
        except:
            jobs.append(np.nan)

        try:
            benifits.append(i.find_all('span', class_ = 'companyCardWrapper__ActionCount')[4].text)
        except:
            benifits.append(np.nan)

        try:
            photos.append(i.find_all('span', class_ = 'companyCardWrapper__ActionCount')[5].text)
        except:
            photos.append(np.nan)
        
        try:  
            about.append(i.find('span', class_ ="companyCardWrapper__interLinking").text.strip())
        except:
            about.append(np.nan)
    
    df = pd.DataFrame({
        'name':name ,
        'rating':rating,
        'reviews':reviews,
        'salary':salary,
        'interviews':interviews,
        'jobs':jobs,
        "benifits":benifits,
        "photos":photos,
        'about':about
    })

    
    final = pd.concat([final,df],ignore_index=True)

In [19]:
final

,name,rating,reviews,salary,interviews,jobs,benifits,photos,about
0,TCS,3.3,1.1L,9.8L,11.8k,2.4k,10.6k,93,IT Services & Consulting | Bangalore / Bengalu...
1,Accenture,3.7,71.4k,6.5L,9.2k,44.1k,6.7k,49,IT Services & Consulting | Bangalore / Bengalu...
2,Wipro,3.6,63.5k,4.8L,6.7k,5.9k,4.6k,107,IT Services & Consulting | Hyderabad / Secunde...
3,Cognizant,3.6,59.8k,6L,6.3k,772,5.5k,86,IT Services & Consulting | Hyderabad / Secunde...
4,Capgemini,3.7,51.4k,4.8L,5.4k,2.1k,3.7k,42,IT Services & Consulting | Bangalore / Bengalu...
...,...,...,...,...,...,...,...,...,...
95,eClerx,3.1,6.1k,32k,629,171,555,26,IT Services & Consulting | Pune +32 other loca...
96,HCL Group,3.5,6.1k,39.8k,514,--,661,1,IT Services & Consulting | Chennai +97 other l...
97,Piramal Finance,4.2,6k,12.8k,292,6,445,4,NBFC | Mumbai +423 other locations
98,Virtusa Consulting Services,3.7,6k,56.7k,667,1.5k,318,23,IT Services & Consulting | Hyderabad / Secunde...
99,DMart,3.9,5.9k,18.7k,543,231,470,17,Retail | Mumbai +245 other locations